
@charset "utf-8";
/* CSS Document */
/* reset */
body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;  }
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a{color:#333;}
a:hover{ color:#3da636;}
body{font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px;height:auto;width:100%;}
 
/*浮动*/
.fl{ float:left;}
.fr{float:right;}
 
/*清除浮动*/
.clearfix:before , .clearfix:after{ content:""; display:table; }
.clearfix:after { clear:both; overflow:hidden;  }
.clearfix { zoom:1;/* IE  */ }
 
/*超出范围用省略号代替*/
// 单行
.ellipsis {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
// 单行或者多行(修改line-clamp属性行数)
.ellipsis2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
 
 /*改变选中后的文本颜色*/
.selectTextColor::selection  { background:#C60; color:#0F9; }
.selectTextColor::-moz-selection  { background:#C60; color:#0F9; }
 
/*去掉a点击后的默认虚线框*/
a , a:focus { outline:none; }
 
/*修改bootstrap的默认字体*/
body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: 'Microsoft YaHei','宋体',Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;}